@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.unsplashfmpbjrzb2pc-icon {
  position: absolute;
  top: 0;
  left: 21px;
  width: 432.05px;
  height: 698.7px;
  object-fit: cover;
}
.explore-the-growing,
.use-dash-for {
  margin: 0;
  position: absolute;
  left: 26.99px;
  display: inline-block;
}
.use-dash-for {
  top: 99px;
  font-size: inherit;
  line-height: 100%;
  font-weight: 600;
  font-family: inherit;
  width: 378px;
  height: 108px;
}
.explore-the-growing {
  top: 199px;
  font-size: 16px;
  line-height: 126.5%;
  width: 347px;
  height: 101px;
}
.sign-up {
  text-decoration: none;
  position: relative;
  font-size: 21.51px;
  line-height: 100%;
  font-weight: 600;
  font-family: Montserrat;
  background: linear-gradient(180deg, #f5f0f6, #fff 0.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 26.93929672241211px 37.48075866699219px;
  background-color: rgba(0, 0, 0, 0.58);
  position: absolute;
  top: 362px;
  left: 36.99px;
  border-radius: 1170.1px;
  box-shadow: 0 2.3425474166870117px 4.69px rgba(136, 144, 194, 0.2),
    0 5.856368541717529px 17.57px rgba(37, 44, 97, 0.15);
  width: 245px;
  height: 67.53px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.box-3-child {
  position: absolute;
  top: 364px;
  left: 306.99px;
  border-radius: 50%;
  width: 75.32px;
  height: 70.78px;
  object-fit: cover;
  opacity: 0.4;
}
.group-icon {
  position: absolute;
  height: 19.87%;
  width: 21.75%;
  top: 74.47%;
  right: 9.05%;
  bottom: 5.67%;
  left: 69.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.box-3 {
  position: absolute;
  top: 0;
  left: 979.01px;
  border-radius: 20px;
  background-color: rgba(56, 55, 55, 0.19);
  width: 421.99px;
  height: 470px;
}
.engage-with-the {
  margin: 0;
  position: absolute;
  top: 100px;
  left: 35px;
  font-size: inherit;
  line-height: 100%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 378px;
  height: 108px;
}
.become-a-masternode {
  display: block;
}
.become-a-masternode-container {
  margin: 0;
  position: absolute;
  top: 208px;
  left: 38px;
  font-size: 16px;
  line-height: 126.5%;
  display: inline-block;
  width: 347px;
  height: 101px;
}
.sign-up1 {
  text-decoration: none;
  position: relative;
  font-size: 21.51px;
  line-height: 100%;
  font-weight: 600;
  font-family: Montserrat;
  color: #fff;
  text-align: left;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 26.93929672241211px 37.48075866699219px;
  background-color: rgba(0, 0, 0, 0.58);
  position: absolute;
  top: 367px;
  left: 38px;
  border-radius: 1170.1px;
  box-shadow: 0 2.3425474166870117px 4.69px rgba(136, 144, 194, 0.2),
    0 5.856368541717529px 17.57px rgba(37, 44, 97, 0.15);
  width: 245px;
  height: 67.53px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.box-2-child {
  position: absolute;
  top: 364px;
  left: 300px;
  border-radius: 50%;
  width: 75.32px;
  height: 70.78px;
  object-fit: cover;
  opacity: 0.4;
}
.mingcutearrow-up-line-icon {
  position: absolute;
  top: 356px;
  left: 283px;
  width: 91.8px;
  height: 93.37px;
  overflow: hidden;
}
.box-2 {
  position: absolute;
  top: 0;
  left: 510px;
  border-radius: 20px;
  background-color: rgba(57, 56, 56, 0.19);
  width: 421.99px;
  height: 470px;
}
.consider-diversifying-your,
.diversify-your-portfolio {
  margin: 0;
  position: absolute;
  top: 208px;
  left: 34px;
  line-height: 126.5%;
  display: inline-block;
  width: 347px;
  height: 101px;
}
.diversify-your-portfolio {
  top: 100px;
  font-size: 40px;
  line-height: 100%;
  font-weight: 600;
  font-family: inherit;
  width: 378px;
  height: 108px;
}
.box-1-child {
  position: absolute;
  top: 354px;
  left: 292px;
  border-radius: 50%;
  width: 75.32px;
  height: 70.78px;
  object-fit: cover;
  opacity: 0.4;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 26.93929672241211px 37.48075866699219px;
  background-color: rgba(0, 0, 0, 0.58);
  position: absolute;
  top: 357px;
  left: 34px;
  border-radius: 1170.1px;
  box-shadow: 0 2.3425474166870117px 4.69px rgba(136, 144, 194, 0.2),
    0 5.856368541717529px 17.57px rgba(37, 44, 97, 0.15);
  width: 245px;
  height: 67.53px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.mingcutearrow-up-line-icon1 {
  position: absolute;
  top: 343px;
  left: 284px;
  width: 91.8px;
  height: 93.37px;
  overflow: hidden;
}
.box-1,
.frame1 {
  position: absolute;
  height: 470px;
}
.box-1 {
  top: 0;
  left: 42px;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(25, 23, 26, 0.19),
    rgba(174, 12, 201, 0.19)
  );
  width: 421.99px;
  font-size: 16px;
}
.frame1 {
  top: 99px;
  left: 44px;
  width: 1406px;
  overflow: hidden;
}
.mditwitter-icon,
.streamlineinterface-signal-gr-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.mditwitter-icon {
  top: 422px;
  left: 1003px;
  width: 24px;
  height: 24px;
}
.get-started {
  text-decoration: none;
  position: relative;
  font-size: 26.12px;
  line-height: 100%;
  font-weight: 600;
  font-family: Montserrat;
  background: linear-gradient(180deg, #f5f0f6, rgba(192, 193, 200, 0.65));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
.button3,
.frame3,
.group-icon1 {
  position: absolute;
  overflow: hidden;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: 32.713409423828125px 45.51430892944336px;
  background-color: rgba(0, 0, 0, 0.58);
  top: 60px;
  left: 20px;
  border-radius: 1420.9px;
  box-shadow: 0 2.84464430809021px 5.69px rgba(136, 144, 194, 0.2),
    0 7.111610412597656px 21.33px rgba(37, 44, 97, 0.15);
  width: 247px;
  height: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.frame3,
.group-icon1 {
  top: 0;
  left: 950px;
  width: 260px;
  height: 128px;
}
.group-icon1 {
  height: 36.1%;
  width: 7.59%;
  top: 29.2%;
  right: 2.03%;
  bottom: 34.7%;
  left: 90.38%;
  max-width: 100%;
  max-height: 100%;
}
.text-section-child {
  position: absolute;
  top: 62px;
  left: 1222px;
  border-radius: 50%;
  width: 75.32px;
  height: 70.78px;
  object-fit: cover;
  opacity: 0.4;
}
.earn-the-most {
  margin: 0;
}
.earn-the-most-container {
  margin: 0;
  position: absolute;
  top: 46px;
  left: -1px;
  font-size: inherit;
  line-height: 100%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 963px;
  height: 226px;
}
.text-section {
  position: absolute;
  top: 141px;
  left: 107px;
  width: 1341px;
  height: 226px;
  overflow: hidden;
}
.trust-wallet-logo-1 {
  top: 1509px;
  left: 497px;
  width: 215px;
  height: 66px;
}
.oip-2-icon,
.r-1-icon,
.trust-wallet-logo-1 {
  position: absolute;
  object-fit: cover;
}
.r-1-icon {
  height: 2.05%;
  width: 9.41%;
  top: 74.13%;
  right: 41.79%;
  bottom: 23.82%;
  left: 48.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.oip-2-icon {
  top: 1509px;
  left: 926px;
  width: 75px;
  height: 62px;
}
.copyright-2023-aliconect,
.partners {
  position: absolute;
  line-height: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.partners {
  margin: 0;
  top: 1439px;
  left: 680px;
  font-size: 50.79px;
  font-weight: 600;
  font-family: inherit;
  background: linear-gradient(180deg, #8204e5, #1042f1);
  text-align: center;
  width: 228px;
  height: 51px;
}
.copyright-2023-aliconect {
  top: 0;
  left: 10px;
  background: linear-gradient(180deg, #d611f6, rgba(91, 17, 246, 0.96));
  width: 306px;
  height: 20px;
}
.frame4 {
  position: absolute;
  top: 288px;
  left: 123px;
  width: 316px;
  height: 20px;
  overflow: hidden;
}
.follow-us,
.frame7 {
  position: absolute;
  top: 0;
  height: 30px;
}
.follow-us {
  left: 53px;
  line-height: 100%;
  font-weight: 700;
  background: linear-gradient(180deg, #ca0cfa, rgba(11, 35, 246, 0.93));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 146px;
}
.frame7 {
  left: 0;
  width: 199px;
  overflow: hidden;
}
.vector-icon,
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  position: absolute;
  height: 94.51%;
  width: 18.5%;
  top: 0;
  right: 25.19%;
  bottom: 5.49%;
  left: 56.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  height: 72.95%;
  width: 16.69%;
  top: 8.24%;
  right: 83.31%;
  bottom: 18.81%;
  left: 0;
}
.vector-icon2,
.vector-icon3 {
  height: 96.28%;
  width: 18.32%;
  top: 3.72%;
  right: 0;
  bottom: 0;
  left: 81.68%;
}
.vector-icon3 {
  height: 78.07%;
  width: 18.59%;
  top: 5.32%;
  right: 51.21%;
  bottom: 16.61%;
  left: 30.19%;
}
.vector-parent {
  position: absolute;
  height: 29.74%;
  width: 98.05%;
  top: 68.06%;
  right: 0;
  bottom: 2.2%;
  left: 1.95%;
}
.frame6 {
  position: absolute;
  top: 0;
  left: 764px;
  width: 206px;
  height: 112px;
  overflow: hidden;
  text-align: right;
  font-size: 24px;
}
.exchange {
  position: absolute;
  top: 38px;
}
.blog,
.exchange,
.just-listed {
  text-decoration: none;
  left: 23px;
  line-height: 100%;
  color: inherit;
  display: inline-block;
  width: 108px;
  height: 23px;
}
.just-listed {
  position: absolute;
  top: 61px;
}
.blog {
  top: 84px;
}
.blog,
.frame8,
.links {
  position: absolute;
}
.links {
  top: 0;
  left: 0;
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
  background: linear-gradient(180deg, #ca0cfa, rgba(11, 35, 246, 0.93));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  display: inline-block;
  width: 119px;
  height: 30px;
}
.frame8 {
  top: 3px;
  left: 374px;
  width: 131px;
  height: 107px;
  overflow: hidden;
}
.affiliate,
.p2p-trans {
  text-decoration: none;
  left: 22px;
  color: inherit;
  width: 108px;
}
.p2p-trans {
  position: absolute;
  top: 66px;
  line-height: 100%;
  display: inline-block;
}
.affiliate {
  top: 94px;
}
.affiliate,
.become-an-agent,
.services {
  position: absolute;
  line-height: 100%;
  display: inline-block;
}
.become-an-agent {
  text-decoration: none;
  top: 43px;
  left: 22px;
  color: inherit;
  width: 149px;
}
.services {
  top: 0;
  left: 0;
  font-size: 24px;
  font-weight: 700;
  background: linear-gradient(180deg, #d20af2, rgba(37, 19, 243, 0.83));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 152px;
  height: 30px;
}
.frame9 {
  position: absolute;
  top: 3px;
  left: 175px;
  width: 166px;
  height: 115px;
  overflow: hidden;
}
.about-us {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
  background: linear-gradient(180deg, #e104e5, #1042f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  display: inline-block;
  width: 148px;
  height: 34px;
}
.about-dash,
.code-of-conduct {
  text-decoration: none;
  left: 19px;
  line-height: 100%;
  color: inherit;
  display: inline-block;
  height: 23px;
}
.about-dash {
  position: absolute;
  top: 40px;
  width: 108px;
}
.code-of-conduct {
  top: 64px;
  width: 149px;
}
.code-of-conduct,
.faq,
.frame10 {
  position: absolute;
}
.faq {
  text-decoration: none;
  top: 86px;
  left: 19px;
  line-height: 100%;
  color: inherit;
  display: inline-block;
  width: 108px;
  height: 23px;
}
.frame10 {
  top: 2px;
  left: 0;
  width: 168px;
  height: 109px;
  overflow: hidden;
}
.at-dash-we,
.frame-parent {
  position: absolute;
  top: 8px;
  left: 345px;
  width: 971px;
  height: 122px;
}
.at-dash-we {
  margin: 0;
  top: 90px;
  left: 10px;
  line-height: 100%;
  display: inline-block;
  width: 273px;
  height: 101px;
}
.white-and-violet-professional {
  position: absolute;
  top: 0;
  left: 0;
  width: 186px;
  height: 73px;
  object-fit: cover;
}
.frame11,
.frame5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 283px;
  height: 191px;
  overflow: hidden;
  font-size: 14px;
}
.frame5 {
  top: 68px;
  left: 123px;
  width: 1316px;
  font-size: 15px;
}
.footer-4 {
  position: absolute;
  top: 1705px;
  left: -48px;
  background-color: #090808;
  width: 1515px;
  height: 369px;
  font-size: 10px;
  color: #8204e5;
}
.frame2 {
  position: absolute;
  top: 535px;
  left: 6px;
  width: 1498px;
  height: 2049px;
  overflow: hidden;
  font-size: 64px;
  color: #f9f2f2;
}
.image-processing20220630-3803-icon {
  position: absolute;
  top: 934px;
  left: 164px;
  width: 1196px;
  height: 952px;
  object-fit: cover;
}
.frame {
  position: absolute;
  top: 1076px;
  left: -21px;
  width: 1440px;
  height: 2584px;
  overflow: hidden;
}
.pages-box-icon {
  position: relative;
  border-radius: 18.48px;
  width: 907.39px;
  height: 200.39px;
  z-index: 0;
}
.sign-up3 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 12px;
  line-height: 100%;
  background: linear-gradient(180deg, #f5f0f6, rgba(192, 193, 200, 0.65));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 145px;
  height: 23.54px;
}
.m1,
.sign-up3 {
  font-weight: 600;
}
.frame12,
.m {
  position: absolute;
}
.m {
  margin: 0;
  top: 46px;
  left: 0;
  font-size: 56.59px;
  line-height: 100%;
  text-align: left;
  display: inline-block;
  width: 217px;
  height: 58px;
  font-family: inherit;
}
.frame12 {
  margin: 0 !important;
  top: 45px;
  left: 26px;
  width: 199px;
  height: 96px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.sign-up4 {
  margin: 0;
  top: 0;
  left: 9.75px;
  line-height: 100%;
  font-weight: 600;
  background: linear-gradient(180deg, #f5f0f6, rgba(192, 193, 200, 0.65));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame13,
.h2,
.sign-up4 {
  position: absolute;
}
.h2 {
  margin: 0;
  top: 50.94px;
  left: 0;
  font-size: 61.33px;
  line-height: 100%;
  font-weight: 600;
  font-family: inherit;
  text-align: center;
  display: inline-block;
  width: 182.44px;
  height: 62.86px;
}
.frame13 {
  margin: 0 !important;
  top: 45px;
  left: 691px;
  width: 190px;
  height: 114px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
  text-align: left;
  font-size: 26.93px;
}
.sign-up5 {
  margin: 0;
  top: 0;
  left: 0;
  line-height: 100%;
  font-weight: 600;
  background: linear-gradient(180deg, #f5f0f6, rgba(192, 193, 200, 0.65));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame14,
.m2,
.sign-up5 {
  position: absolute;
}
.m2 {
  margin: 0;
  top: 47px;
  left: 14px;
  font-size: 56.59px;
  line-height: 100%;
  font-weight: 600;
  font-family: inherit;
  text-align: center;
  display: inline-block;
  width: 168.34px;
  height: 58px;
}
.frame14 {
  margin: 0 !important;
  top: 44px;
  left: 474px;
  width: 175px;
  height: 97px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
  text-align: left;
  font-size: 24.85px;
}
.sign-up6 {
  margin: 0;
  top: 0;
  left: 41px;
  line-height: 100%;
  font-weight: 600;
  background: linear-gradient(180deg, #f5f0f6, rgba(192, 193, 200, 0.65));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame15,
.m3,
.sign-up6 {
  position: absolute;
}
.m3 {
  margin: 0;
  top: 47px;
  left: 0;
  font-size: 56.59px;
  line-height: 100%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 191px;
  height: 58px;
}
.frame15 {
  margin: 0 !important;
  top: 44px;
  left: 243px;
  width: 175px;
  height: 97px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 4;
  font-size: 24.59px;
}
.pages-box-parent {
  position: absolute;
  top: 832px;
  left: 262px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  text-align: center;
  font-size: 23.39px;
  color: #8204e5;
}
.unsplashrv43mecx-ry-icon {
  position: absolute;
  top: 112px;
  left: 885px;
  border-radius: 10.2px;
  width: 1449px;
  height: 917px;
  object-fit: cover;
  opacity: 0.5;
}
.uimbitcoin-icon {
  position: absolute;
  top: 0;
  left: 311.94px;
  width: 104.55px;
  height: 102.36px;
  overflow: hidden;
}
.frame-child {
  position: absolute;
  top: 10px;
  left: 520px;
  border-radius: 50%;
  background-color: rgba(182, 174, 174, 0.1);
  width: 87px;
  height: 81.76px;
}
.cryptocurrencyeth-icon {
  position: absolute;
  top: 15px;
  left: 625px;
  width: 77px;
  height: 69px;
  overflow: hidden;
}
.frame-item {
  position: absolute;
  top: 10px;
  left: 621px;
  border-radius: 50%;
  width: 87px;
  height: 81.76px;
  object-fit: cover;
}
.cryptocurrency-colorusdt-icon {
  position: absolute;
  top: 16px;
  left: 426px;
  width: 74px;
  height: 71px;
  overflow: hidden;
}
.frame-inner {
  position: absolute;
  top: 10px;
  left: 421px;
  border-radius: 50%;
  width: 85px;
  height: 79.88px;
  object-fit: cover;
}
.cryptocurrencybnb-icon {
  position: absolute;
  top: 16px;
  left: 526px;
  width: 76px;
  height: 69px;
  overflow: hidden;
}
.ellipse-icon {
  position: absolute;
  top: 10px;
  left: 320px;
  border-radius: 50%;
  width: 87px;
  height: 81.76px;
  object-fit: cover;
}
.sign-up7 {
  text-decoration: none;
  position: relative;
  font-size: 24.85px;
  line-height: 100%;
  font-weight: 600;
  font-family: Montserrat;
  color: #fff;
  text-align: left;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: 31.11763572692871px 43.29410171508789px;
  background-color: rgba(0, 0, 0, 0.58);
  position: absolute;
  top: 10px;
  left: 3px;
  border-radius: 1351.59px;
  box-shadow: 0 2.705881357192993px 5.41px rgba(136, 144, 194, 0.2),
    0 6.764703273773193px 20.29px rgba(37, 44, 97, 0.15);
  width: 283px;
  height: 78px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.button4:hover {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.frame16 {
  position: relative;
  width: 708px;
  height: 102.36px;
  overflow: hidden;
  flex-shrink: 0;
}
.crypto-button {
  position: absolute;
  top: 629px;
  left: 46px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.join-the-dash {
  margin: 0;
  position: absolute;
  top: 180px;
  left: 0;
  line-height: 100%;
  display: inline-block;
  width: 673px;
  height: 59px;
}
.dive-into-the,
.frame18 {
  width: 895px;
  height: 239.42px;
}
.dive-into-the {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 79.42px;
  line-height: 100%;
  display: inline-block;
  background: linear-gradient(180deg, #8204e5, #1042f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame18 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame17 {
  position: absolute;
  top: 336px;
  left: 46px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 19.67px;
  color: #d9d9d9;
}
.white-and-violet-professional1 {
  position: relative;
  width: 152px;
  height: 51.74px;
  object-fit: cover;
}
.cryptocurrencies,
.home {
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home {
  text-decoration: none;
  font-weight: 700;
  background: linear-gradient(
    180deg,
    #ad14f4,
    rgba(114, 25, 241, 0.54) 46.35%,
    #8503ec 46.36%,
    rgba(41, 7, 248, 0.92)
  );
}
.cryptocurrencies {
  background: linear-gradient(
    180deg,
    #ad14f4,
    rgba(114, 25, 241, 0.54) 46.35%,
    rgba(147, 3, 236, 0.94) 46.36%,
    rgba(54, 21, 253, 0.92)
  );
}
.cryptocurrencies,
.exchange1,
.wallet {
  text-decoration: none;
  font-weight: 700;
}
.exchange1 {
  position: relative;
  background: linear-gradient(
    180deg,
    #ad14f4,
    rgba(114, 25, 241, 0.54) 46.35%,
    rgba(161, 3, 236, 0.91) 46.36%,
    rgba(54, 21, 253, 0.92)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wallet {
  background: linear-gradient(
    180deg,
    #ad14f4,
    rgba(114, 25, 241, 0.54) 46.35%,
    rgba(161, 3, 236, 0.9) 46.36%,
    rgba(54, 21, 253, 0.92)
  );
}
.about-us1,
.blog1,
.wallet {
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blog1 {
  text-decoration: none;
  font-weight: 700;
  background: linear-gradient(
    180deg,
    rgba(173, 20, 244, 0.91),
    rgba(114, 25, 241, 0.54) 46.35%,
    rgba(97, 3, 236, 0.53) 46.36%,
    rgba(54, 21, 253, 0.92)
  );
}
.about-us1 {
  background: linear-gradient(
    180deg,
    #ad14f4,
    rgba(114, 25, 241, 0.54) 46.35%,
    rgba(161, 3, 236, 0.94) 46.36%,
    rgba(54, 21, 253, 0.92)
  );
}
.contact,
.sign-up8 {
  text-decoration: none;
  position: relative;
}
.contact {
  font-weight: 700;
  background: linear-gradient(
    180deg,
    #ad14f4,
    rgba(114, 25, 241, 0.54) 46.35%,
    rgba(161, 3, 236, 0.87) 46.36%,
    rgba(54, 21, 253, 0.92)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sign-up8 {
  font-size: 13.53px;
  line-height: 100%;
  font-weight: 600;
  font-family: Montserrat;
  color: #fff;
  text-align: left;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: 31.11763572692871px 43.29410171508789px;
  background-color: transparent;
  border-radius: 1351.59px;
  box-shadow: 0 2.705881357192993px 5.41px rgba(136, 144, 194, 0.2),
    0 6.764703273773193px 20.29px rgba(37, 44, 97, 0.15);
  width: 115px;
  height: 40.59px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.sign-up9 {
  text-decoration: none;
  position: relative;
  font-size: 13.63px;
  line-height: 100%;
  font-weight: 600;
  font-family: Montserrat;
  color: #fff;
  text-align: left;
}
.button6 {
  cursor: pointer;
  border: 0;
  padding: 31.337499618530273px 43.599998474121094px;
  background-color: transparent;
  border-radius: 1361.14px;
  background: linear-gradient(180deg, #ad14f4, rgba(9, 122, 209, 0.81));
  box-shadow: 0 4.087499618530273px 10.9px rgba(136, 144, 194, 0.25),
    0 9.53749942779541px 28.61px rgba(37, 44, 97, 0.2);
  width: 127px;
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.header,
.landing-page {
  overflow: hidden;
  text-align: left;
}
.header {
  margin: 0;
  position: absolute;
  top: 52px;
  left: 10px;
  width: 1440px;
  height: 104px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7px 51px;
  box-sizing: border-box;
  gap: 44px;
  font-size: 15px;
  font-family: Inter;
}
.landing-page {
  position: relative;
  background: linear-gradient(
    180deg,
    #000,
    #000 52.6%,
    #170129 77.6%,
    #050404 92.19%
  );
  width: 100%;
  height: 3664px;
  font-size: 40px;
  color: #fff;
  font-family: Montserrat;
}
